<div ng-controller="homeCtrl as hc" class="display_flex flex_1" style="height: 100%;">
	<div class="display_flex flex_column" style="width:40%; padding: 5px;">
		<div class="display_flex" style="height: 50%; border: 1px solid black; margin-bottom: 5px; padding: 5px;">
			<img src="https://www.hassanlab.eu/sites/default/files/2016-02/blank_person_51.png" style="border: 1px solid black; width: 30%; margin-right: 10px; height:60%;">
			<div class="display_flex flex_column">
				<span>
					Name : {{hc.personInfo.personName}}
				</span>
				<span>
					Contact Number : {{hc.personInfo.contactNumber}}
				</span>
				<span>
					Email Address : {{hc.personInfo.emailAddress}}
				</span>
				<span>
					Age : {{hc.personInfo.age}}
				</span>
			</div>
		</div>
		<div class="display_flex flex_column" style="height: 50%; border: 1px solid black; padding: 5px;">
			<div ng-repeat="item in hc.shoppingCart" class="display_flex width_full" style="border-bottom: 1px solid black">
				<a ng-click="hc.getItemInfo(item)" style="text-decoration: none; padding-left:5px; padding-right:5px; cursor: pointer; width: 20%;">{{item.itemName}}</a>
				<a ng-click="" style="text-decoration: none; padding-right:5px; cursor: pointer; width: 20%;">{{item.sellerId}}</a>
				<span style="padding-right:5px; width: 20%;">Quantity: {{item.quantity}}</span>
				<span ng-click="hc.removeFromCart(item)"class="glyphicon glyphicon-minus-sign" style="margin-left: auto; align-self: center; margin-right: 5px; cursor: pointer;"></span>
				<span ng-click="hc.deleteFromCart(item)"class="glyphicon glyphicon-trash" style=" align-self: center; margin-right: 5px; cursor: pointer;"></span>
			</div>
			<span ng-if="hc.shoppingCart.length>0">Choose Delivery Option:</span>
			 <select ng-model="hc.selectedDeliveryOption" ng-if="hc.shoppingCart.length>0">
			 	<option ng-repeat="item in hc.deliveryOptions">{{item}}</option>
			 </select>
			 <span ng-if="hc.shoppingCart.length>0">Choose delievry address</span>
			 <select ng-model="hc.selectedAddress" ng-if="hc.shoppingCart.length>0">
			 	<option ng-repeat="address in hc.addressOptions">{{address.value}}</option>
			 </select>
			 <span ng-if="hc.shoppingCart.length>0">Choose payment option</span>
			 <select ng-model="hc.selectedGateway" ng-if="hc.shoppingCart.length>0">
			 	<option ng-repeat="item in hc.paymentGateWayOptions">{{item}}</option>
			 </select>
			 <button ng-if="hc.shoppingCart.length>0" type="button" class="btn btn-primary" ng-click="hc.placeOrder()" style="margin-top: 5px;">buy</button>
<!-- 			 </select>
			 <select ng-options="array expression"></select>
			 <select ng-options="array expression"></select>
 -->
		</div>		
	</div>
	<div class="display_flex flex_column" style="width: 60%; padding: 5px;">
		<div class="display_flex flex_column" style="height: 40%; border: 1px solid black; margin-bottom: 5px; padding: 5px;">
			<div class="display_flex" style="height: 70%; margin-bottom: 10px;">
				<img src="https://i.gadgets360cdn.com/large/Big_Billion_Days_1474872948007.jpeg" style="border: 1px solid black; width: 30%; margin-right: 10px;">
				<div class="display_flex flex_column">
					<span>
						Name : {{hc.itemInfo.itemName}}
					</span>
					<span>
						Category : {{hc.itemInfo.category}}
					</span>
					<span>
						Description : {{hc.itemInfo.description}}
					</span>
					<span>
						Price : ${{hc.itemInfo.price}}
					</span>
				</div>			
			</div>
			<div class="display_flex" style="border-top: 1px solid black">
				<span style="width: 20%;">Customer Name</span>
				<span style="width: 20%;">Rating</span>
				<span style="width: 60%;">Review Text</span>
			</div>

			<div class="display_flex" ng-repeat="review in hc.itemInfo.review" style="border-top: 1px solid black">
				<span style="width: 20%;">{{review.customerName}}</span>
				<span style="width: 20%;">{{review.reviewInfo.rating}}</span>
				<span style="width: 60%;">{{review.reviewInfo.reviewText}}</span>
			</div>
		</div>
		<div class="display_flex flex_column" style="height: 60%; border: 1px solid black;">
			<div ng-repeat="item in hc.itemData" class="display_flex width_full" style="border-bottom: 1px solid black">
				<a ng-click="hc.getItemInfo(item)" style="text-decoration: none; padding-left:5px; padding-right:5px; cursor: pointer; width: 20%;">{{item.itemName}}</a>
				<a ng-click="" style="text-decoration: none; padding-right:5px; cursor: pointer; width: 20%;">{{item.sellerName}}</a>
				<span style="padding-right:5px; width: 15%;">Quantity: {{item.quantity}}</span>
				<span ng-click="hc.addToCart(item)"class="glyphicon glyphicon-plus-sign" style="margin-left: auto; align-self: center; margin-right: 5px; cursor: pointer;"></span>
			</div>
		</div>
	</div>
</div>